body {
  text-align: center;
  font-family: "Chivo";
}

h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}

hr{
  border: dotted #000000 6px;
  border-bottom: none;
  width: 4%;
  margin: 60px auto 60px auto;
}

/* Containers */
.container-fluid{
  padding: 7% 15%;
}

/* Heading */
.big-heading{
  font-weight: 800;
  font-family: "Alfa Slab One";
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 2% 15% 3%;
}

/* Navbar */

.brand-and-nav{
  padding-bottom: 0.5rem;
}

.navbar{
  position: relative;
  left: 38%;
}

.title-image{
  position: relative;
  width: 30%;
}

.nav-item{
  padding: 0 18px 0 18px;
}

.services-box{
  padding-bottom: 20px;
}

.service-item{
  padding: 0 10px 0 10px;
}

.navbar-list{
  margin-top: 115px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}


/* Title Section */
#title .container-fluid{
  padding: 1% 10% 7%;
}

.jrd{
  font-family: "Alfa Slab One";
}
/* Features */

.icon{
  padding-bottom: 2rem;
}

/* Footer */

#footer{
  padding: 7% 15%;
}

.footer-icon{
  padding: 2% 1%;
}

.copyright{
  padding-top: 2rem;
}

.btn-nextdoor{
  color: #82CD47;
}
